name: Create Pack
on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Set up the ssh agent (easier & faster than creating folders, config, and authorized_keys)
    - uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

    # Saves the branch files on the runner
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    # Not sure if this is needed but local testing with `act` requires it (medium-image used)
    - name: Install rsync
      run: |
        sudo apt-get update
        sudo apt-get install -y rsync

    # 1 - zips the pack
    # 2 - sanitizes the pack name removing spaces (maybe not needed but it can break things),
    # 3 - creates subdirectories, rsync doesn't always do that
    # 4 - transfers file to server
    - name: "Remote Upload"
      run: |
        echo "Creating resource pack zip..."
        ls -ls ~
        zip -r ${{ vars.ZIP_NAME }}.zip assets pack.mcmeta pack.png LICENSE

        echo "Sending file to the server"

        ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST_IP }} "mkdir -p \"${{ vars.ZIP_PATH }}/${{ github.ref_name }}\""
        rsync -avz --progress -e "ssh -o StrictHostKeyChecking=no" ${{ vars.ZIP_NAME }}.zip "${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST_IP }}:\"${{ vars.ZIP_PATH }}/${{ github.ref_name }}\""

        echo "File uploaded to ${{ vars.ZIP_PATH }}/${{ github.ref_name }}"
